---
import { getCollection } from 'astro:content'

import Header from '../components/header.astro'
import PostLink from '../components/post-link.astro'
import Layout from '../layouts/layout.astro'
import Separator from '../components/separator.astro'
import { Linkedin, Github, Rss } from '@lucide/astro'
import { Image } from 'astro:assets'
import photoAsier from '../assets/photo-asier.jpg'

let posts = await getCollection('posts', ({ data }) => {
	return import.meta.env.PROD ? !data.draft && new Date(data.date) <= new Date() : true
})
posts = posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
---

<Layout>
	<section class="flex flex-col gap-4 sm:gap-8 px-4 py-4 sm:px-6 sm:flex-row">
		<div class="sm:flex items-center justify-center w-full hidden sm:min-w-52 sm:w-72">
			<Image
				src={photoAsier}
				alt="Asier Zapata"
				class="rounded w-full aspect-square object-cover shadow-lg"
			/>
		</div>
		<div class="my-2 sm:my-8 flex flex-col gap-4">
			<div class="flex items-center gap-4 mb-2">
				<h1 class="font-serif text-4xl font-medium text-primary text-left text-balance">
					Hi there!
				</h1>
			</div>
			<p class="text-left">
				Welcome to <strong>Async</strong>, my personal blog where I share my thoughts and musings on
				web development and technology. Here, you'll find articles on a variety of topics, from
				programming to technical leadership. I hope you find something interesting and useful!
			</p>
			<!-- Social Links -->
			<p class="text-left flex flex-row gap-4 mt-2">
				<a
					href="https://www.github.com/asierzapata"
					class="text-primary hover:underline hover:opacity-80 transition duration-150 ease-in-out hover:text-primary-hover hover:scale-105"
					target="_blank"
					aria-label="GitHub Profile"
					rel="noopener noreferrer"><Github /></a
				>
				<a
					href="https://www.linkedin.com/in/asierzapata/"
					class="text-primary hover:underline hover:opacity-80 transition duration-150 ease-in-out hover:text-primary-hover hover:scale-105"
					target="_blank"
					aria-label="LinkedIn Profile"
					rel="noopener noreferrer"><Linkedin /></a
				>
				<a
					href="/rss.xml"
					class="text-primary hover:underline hover:opacity-80 transition duration-150 ease-in-out hover:text-primary-hover hover:scale-105"
					target="_blank"
					aria-label="RSS Feed"
					rel="noopener noreferrer"><Rss /></a
				>
			</p>
		</div>
	</section>
	<Separator />
	<Header>
		<hgroup class="mx-auto flex max-w-xl flex-col items-center gap-1">
			<h2 class="font-serif text-3xl font-medium text-primary text-center text-balance mb-2">
				Posts
			</h2>
		</hgroup>
	</Header>

	<section class="my-8 flex flex-col gap-4 px-4 sm:px-6">
		{
			posts.map((post, index) => (
				<>
					<PostLink
						slug={post.data.slug}
						title={post.data.title}
						date={post.data.date}
						tags={post.data.tags}
					/>
					{/* Divider line between items on small screens only */}
					{index < posts.length - 1 && <hr class="lg:hidden border-t border-gray-200 opacity-40" />}
				</>
			))
		}
	</section>
</Layout>
